body {

    --primary: #D9559D;
    --secondary: #0396A6;

    --primary-light: #f2e96c;
    --secondary-light: #61BEE2;


    --primary-dark: #F23E2E;
    --secondary-dark: #206E8C;

overflow-x: hidden;

}


li {
    text-decoration: none;
    list-style: none;
}